<div class="container">
  <h1>Welcome to Grappler Tracker</h1>
  <p>Track your matches, records, and win methods with ease.</p>

  <div class="logo">
    <%= image_tag 'grappler_tracker_bc_logo.jpeg', alt: 'Grappler Tracker Logo', class: 'site-logo' %>
  </div>

  <br><br>
  <a href="/matches" class="btn-primary">Start Tracking</a>
</div>