<div class="container">
  <h1>Welcome to Grappler Tracker</h1>
  <p>Track you matches, record, techniques, and more.</p>
  <p>View the Grapplers Grimoire for technique breakdowns and add them to your known techniques.</p>

  <div class="logo">
    <%= image_tag 'grappler_tracker_bc_logo.jpeg', alt: 'Grappler Tracker Logo', class: 'site-logo' %>
  </div>

  <br><br>
  <a href="/matches" class="btn-primary">Start Tracking</a>
</div>